{% extends "base.html" %}
{% block title %}Download{% endblock %}
{% block page_content %}
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<link rel="icon" href="{{ url_for('static', filename='cloud.jpg') }}" type="image/x-icon">
<style>
  #myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #5084c8;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
  }

  #myBtn:hover {
    background-color: #555;
  }

  body {
    font-family: 'Trebuchet MS', sans-serif;
    color: white;
    background-color: #202124;
    font-size: 18px;
    white-space: nowrap;
  }

  .btn:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, .2), 0 10px 10px rgba(0, 0, 0, .2);
  }

  a {
    color: white;
  }

  a:hover {
    color: white;
  }
</style>
<main class="page-content">
  <div style="padding: 15px;">
    <button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fa fa-arrow-up"></i> Top</button>
    <h2><img src="https://img.icons8.com/color/48/000000/download-2--v1.png" height="40px" /> <b>Download</b></h2>
    <hr>
    <h3><img src="https://img.icons8.com/color-glass/48/000000/download--v1.png" height="30px" />Download Anything</h3>
    <form method="POST" class="w3-center">
      <div class="form-group"><input autofocus class="form-control" type="text" name="link"
          placeholder="Paste your link here" required
          style="background-color: #3a3f48;color: white;border-color: transparent;"></div>
      <div class="btn-group" role="group" aria-label="Basic example">
        <button class="btn btn-primary btn-sm" formaction="/download_yt" type="submit"><img
            src="https://img.icons8.com/doodle/48/000000/youtube-play--v1.png" height="20px" />
          YT</button>
        <button class="btn btn-primary btn-sm" formaction="/download_audio" type="submit"><img
            src="https://img.icons8.com/dusk/64/000000/high-volume--v1.png" height="20px" /> YT Audio</button>
        <button class="btn btn-primary btn-sm" formaction="/download_file" type="submit"><img
            src="https://img.icons8.com/parakeet/48/000000/experimental-file-parakeet.png" height="20px" /></i>
          Files</button>
        <button class="btn btn-primary btn-sm" formaction="/download_torrent" type="submit"><img
            src="https://img.icons8.com/color/48/000000/utorrent.png" height="20px" /> Torrent</button>
      </div>
    </form>
    <div class='table-responsive' id="myTable1" style="border: none;">
      {% if torrents %}
      <br><br>
      <h3><img src="https://img.icons8.com/color/48/000000/utorrent.png" height="30px" /> Torrent Progress</h3>
      <table class="table table-borderless table-dark" id="table1">
        <thead>
          <tr>
            <th style="text-align:left;">ETA</th>
            <th style="text-align:left;">Speed</th>
            <th style="text-align:left;">Name</th>
            <th style="text-align:left;">Total Size</th>
            <th style="text-align:left;">Completed</th>
            <th style="text-align:left;">State</th>
          </tr>
        </thead>
        <tbody id="myTable11">
          {% for file in (torrents) %}
          <tr class="w3-opacity w3-hover-opacity-off">
            <td style="text-align:left;">{{file['eta']/60}} min</td>
            <td style="text-align:left;">{{(file['dlspeed']/1024/1024)}} Mbps</td>
            <td style="text-align:left;">{{file['name']}}</td>
            <td style="text-align:left;">{{file['total_size']/1024/1024,2}} MB</td>
            <td style="text-align:left;">{{file['completed']/1024/1024}} MB</td>
            <td style="text-align:left;">{{file['state']}}</td>
          </tr>
          {%endfor%}
        </tbody>
      </table>
      {% endif %}
    </div>

    {% if downloads %}
    <h3><img src="https://img.icons8.com/color/48/000000/submit-progress--v1.png" height="30px" /> All Download Progress
    </h3>
    {% endif %}
    {% if downloads %}
    <input type="text" id="myInput" class="form-control search-menu search" placeholder="Search"
      style="background-color: #3a3f48;color: white;border-color: transparent;">
    {% endif %}
    <div class='table-responsive' id="myTable" style="border: none;">
      {% if downloads %}
      <table class="table table-borderless table-dark" id="table">
        <thead>
          <tr>
            <th style="text-align:left;">Name</th>
            <th style="text-align:left;">Size</th>
            <th style="text-align:right;">Date</th>
          </tr>
        </thead>
        <tbody id="myTable1">
          {% for file in (downloads) %}
          <tr class="w3-opacity w3-hover-opacity-off">
            <td style="text-align:left;"><a href="/showfile/{{file.p}}" style="text-decoration: none;">{{file.path}}</a>
            </td>
            <td style="text-align:left;">{{file.size}} MB</td>
            <td style="text-align:right;">{{file.date}}</td>
          </tr>
          {%endfor%}
        </tbody>
      </table>
      {% endif %}
    </div>
    <br><br>

  </div>
  <br><br>
</main>
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<script>
  swal({
    title: "Downloading",
    text: "{{message}}",
    icon: "success",
    timer: 1500,
    buttons: false
  });
  window.location.reload();
</script>
{% endfor %}
{% endif %}
{% endwith %}
<script>
  $(document).ready(function () {
    $("#myInput").on("keyup", function () {
      var value = $(this).val().toLowerCase();
      $("#myTable tr").filter(function () {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });
</script>
<script>
  //Get the button
  var mybutton = document.getElementById("myBtn");

  // When the user scrolls down 20px from the top of the document, show the button
  window.onscroll = function () { scrollFunction() };

  function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
      mybutton.style.display = "block";
    } else {
      mybutton.style.display = "none";
    }
  }

  // When the user clicks on the button, scroll to the top of the document
  function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
  }
</script>

{% endblock %}